* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient rgba(250, 170, 10, 0.6), transparent);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wall {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.row {
    background: transparent;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
}

.brick {
    width: 10vw;
    height: 10vh;
    background: transparent;
    border: 1px solid rgba(250, 170, 10, 0.9);
    float: left;
}

.row:nth-child(odd) .brick:first-child,
.row:nth-child(odd) .brick:last-child {
    width: 5vw;
}

.brick:nth-child(even) {
    background: rgba(250, 170, 10, 0.6);
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) 4s infinite;
}

@keyframes wave {
    0% {
        background-color: rgba(250, 170, 10, 0.6);
        border: 1px solid rgba(250, 170, 10, 0.9);
    }
    10% {
        background-color: transparent;
        border: 1px solid rgba(250, 170, 10, 0.1);
    }
    50% {
        background-color: transparent;
        border: 1px solid rgba(250, 170, 10, 0.1);
    }
    90% {
        background-color: rgba(250, 170, 10, 0.6);
        border: 1px solid rgba(250, 170, 10, 0.9);
    }
    100% {
        background-color: rgba(250, 170, 10, 0.6);
        border: 1px solid rgba(250, 170, 10, 0.9);
    }
}

.list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1vh 1vw;
    width: 100%;
    height: 100%;
}

.list h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh 1vw;
    border-bottom: 6px double black;
}

.list a.author {
    margin: 1vh 1vw;
    padding: 0.5vh 1vw;
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    overflow: auto;
}

.list a.author {
    width: 75%;
    text-shadow: 0 0 5px burlywood;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

.list a.author::before {
    color: red;
    content: "\2610";
}

.list a.author:visited::before {
    color: green;
    content: "\2611";
}

.list a.back {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1vh 1vw;
    text-decoration: none;
    border-top: 6px double black;
}